* {
	letter-spacing: -1px;
	line-height: 15px;
}

h1 {
	color: orange;
	font-size: 30px;
	text-align: right;
}

p:first-letter {
	color: red;
	font-weight: bold;
	font-size: 30px;
}

em {
	color: white;
	font-weight: bold;
	background-color: green;
}

#allotment  h2 {
	color: orange;
}

.plants-list ul>li {
	font-weight: bold;
}

.plants-list ol {
	font-weight: normal;
}

#allotment .fruits-list {
	color: silver;
}

.vegetables-list {
	color: red;
}

#warehouse h2 {
	color: blue;
}

#warehouse .fruits-list {
	color: green;
}

.students-table {
	text-align: center;
}

.students-table thead {
	font-weight: bold;
}

.students-table tbody td:first-child {
	color: orange;
	text-align: left;
}

.students-table tbody td:not(:first-child) {
	color: white;
	font-weight: bold;
	background-color: green;
}