* {
	margin: 0;
	padding: 0;
}

nav {
	margin-top: 20px;
	text-align: center;
}

a {
	display: inline-block;
	padding: 10px;
	color: #a64dff;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
}

.page {
	width: 16px;
	border-radius: 7px;
	border: 1px solid #ccc;
	text-align: center;
}

.ellipsis {
	padding-bottom: 0px;
	vertical-align: bottom;
}

.page:hover {
	color: #fff;
	border-color: #a64dff;
	background-color: #a64dff;
}

span {
	font-size: 16px;
}